:root {
/* Primary */
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

/* Neutral */
    --white: hsl(0, 0%, 100%);
    --white-main: hsla(0, 0%, 100%, 0.75);
    --white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 15px;
}

body {
    min-height: 100%;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: var(--white-main);
    background-color: var(--very-dark-blue);
    padding: 88px 24px;
}

body, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    gap: 32px;
}

.stats-preview-card {
    text-align: center;
    max-width: 540px;
    background-color: var(--dark-desaturated-blue);
    border-radius: 8px;
    z-index: 1;

    .stats-preview-card__img-wrapper {
        position: relative;
        max-width: 540px;
    }

    .stats-preview-card__img-wrapper::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--soft-violet);
        opacity: .5;
        border-radius: 8px 8px 0 0;
        z-index: 3;
    }

    .stats-preview-card__img {
        width: 100%;
        vertical-align: middle;
        border-radius: 8px 8px 0 0;
    }

    .stats-preview-card__text-wrapper {
        padding: 40px max(8%, 32px) 36px;
    }

    .stats-preview-card__title,
    .stats-preview-card__data span:first-of-type {
        font-size: 24px;
        font-weight: 700;
    }

    .stats-preview-card__title {
        color: var(--white);
        margin-bottom: 16px;
    }

    & strong {
        color: var(--soft-violet);
    }

    .stats-preview-card__para {
        line-height: 24px;
        margin-bottom: 48px;
    }

    .stats-preview-card__data-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .stats-preview-card__data {
        margin: 0 auto;

        & span:first-of-type {
            font-family: "Inter", sans-serif;
            color: var(--white-stat-headings);
            display: block;
            margin-bottom: 8px;
        }
    }
}

/* Attribution */

.attribution {
    margin-top: auto;
    background-color: inherit;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    z-index: 0;

    & a {
        color: var(--white);
    }
}

/* Media Queries */

@media only screen and (min-width: 1116px) {
    .stats-preview-card {
        text-align: left;
        max-width: unset;
        display: grid;
        grid-template-columns: 570px 540px;

        .stats-preview-card__text-wrapper {
            display: flex;
            flex-direction: column;
            grid-area: 1 / 1 / 2 / 2;
            padding: 72px 120px 64px 66px;

            .stats-preview-card__title {
                margin-bottom: 32px;
            }

            .stats-preview-card__data-container {
                margin-top: auto;
                flex-direction: row;
            }
        }

        .stats-preview-card__img-wrapper {
            grid-column: 2 / 3;
        }

        .stats-preview-card__img-wrapper::before {
            border-radius: 0 8px 8px 0;
        }

        .stats-preview-card__img {
            content: url("images/image-header-desktop.jpg");
            border-radius: 0 8px 8px 0;
        }
    }

    .attribution {
        position: absolute;
        bottom: 16px;
    }
}